<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel='icon' href='https://raw.githubusercontent.com/oneminch/discover-n-share/main/public/images/favicon.ico' type='image/x-icon' />
   <link rel="stylesheet" href="public/css/style.css">
   <title>404 | Discover&Share</title>
</head>

<body>
   <header>
      <div class="logo">
         <a href="/">
            <img src="https://raw.githubusercontent.com/oneminch/discover-n-share/main/public/images/logo.png" alt="Logo">
         </a>
      </div>
      <div class="menu menu-btn">
         <img src="https://raw.githubusercontent.com/oneminch/discover-n-share/main/public/images/menu.svg" class="menu-btn" alt="Menu Icon">
      </div>
   </header>
   <nav>
      <ul>
         <li class="navbar-items"><a class="home" href="/">Home</a></li>
         <li class="navbar-items"><a class="about" href="/about">About</a></li>
         <li class="navbar-items"><a class="contact" href="/contact">Contact</a></li>
         <li class="navbar-items submit">
            <a href="/submit">
               <p>Submit</p>
            </a>
         </li>
      </ul>
   </nav>
   <section class="lost-section">
      <h1>404</h1>
      <h2>This page doesn't exist.</h2>
      <a href="/">
         <p>Go Home</p>
      </a>
   </section>
   <footer>
      {{!-- <p>This is the 404 (lost) page of Discover&Share. Whenever there is a page that doesn't exist, people are sent to
         this page. There is a link back to the home page.</p> --}}
      <p>&copy; 2020 Discover&Share, Inc. </p>
      <p>No Rights Reserved.</p>
   </footer>
   <script src="public/main.js"></script>
</body>

</html>
