<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel='icon' href='https://raw.githubusercontent.com/oneminch/discover-n-share/main/public/images/favicon.ico' type='image/x-icon' />
   <link rel="stylesheet" href="public/css/style.css">
   <title>About | Discover&Share</title>
</head>

<body>
   <header>
      <div class="logo">
         <a href="/">
            <img src="https://raw.githubusercontent.com/oneminch/discover-n-share/main/public/images/logo.png" alt="Logo">
         </a>
      </div>
      <div class="menu menu-btn">
         <img src="https://raw.githubusercontent.com/oneminch/discover-n-share/main/public/images/menu.svg" class="menu-btn" alt="Menu Icon">
      </div>
   </header>
   <nav>
      <ul>
         <li class="navbar-items"><a class="home" href="/">Home</a></li>
         <li class="navbar-items"><a class="about" href="/about">About</a></li>
         <li class="navbar-items"><a class="contact" href="/contact">Contact</a></li>
         <li class="navbar-items submit">
            <a href="/submit">
               <p>Submit</p>
            </a>
         </li>
      </ul>
   </nav>
   <section class="about-section">
      <h1>Discover and Share Your Favorite Products and Services with the World 🌍</h1>
      <a href="/">
         <p>Go Home</p>
      </a>
      <div class="mission">
         <h3>Our Mission</h3>
         <p>The main idea behind Discover&Share is only one thing: Performing unpaid advertising for companies, and
            doing
            it
            at scale. With the money companies save from our unpaid ad platform, they can reinvest in their
            innovation
            and R&D efforts to maximize profits. We are already working with some of the top companies like Komkast to
            reinvent the wheel. What can possibly go wrong? We believe this is going to revolutionize the advertising
            industry
            and contribute to welfare of the companies as well as society.</p>
      </div>
   </section>
   <footer>
      {{!-- <p>This is the about page of Discover&Share. It describes what this project is about and its mission: Performing
         unpaid advertising for companies, and doing it at scale.</p> --}}
      <p>&copy; 2020 Discover&Share, Inc. </p>
      <p>No Rights Reserved.</p>
   </footer>
   <script src="public/main.js"></script>
</body>

</html>
